.header{
    background-color: #101011;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    &__left{
        display: flex;
    }
    &__logo{
        margin: 0 90px 0 0;
    }
}

.profile{
    &__body{
        display: flex;
        align-items: center;
    }
    &__notification{
        color: #fff;
        transform: scale(2.5);
        margin: 0 50px 0 0;
    }
    &__mini{
        display: flex;
        align-items: center;
    }
    &__avatar{
        border-radius: 50%;
        margin: 0 10px 0 0;
    }
    &__opener{
        display: block;
        margin: 10px 0 0 0;
        border: 8px solid transparent; 
        border-top: 8px solid #fff;
    }
    &__redcircle{
        width: 6px;
        height: 6px;
        background-color: #c62e21;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid #000;
    }
}
