.nav{
    display: flex;
    align-items:  center;
    width: 100%;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    button{
        background-color: transparent;
        margin: 0 1rem;
        opacity: 0.8;
        color: #fff;
        border: none;
        transition: border-color 0.3s linear, opacity 0.3s linear;
        border-bottom:4px solid transparent;
        padding-bottom: 10px;
        font-size: 20px;
        text-transform: uppercase;
        &:hover{
            border-color: #6d221b;
            opacity: 0.9;
        }
    }
}
.active{
    border-color: #c62e21 !important;
    opacity: 1 !important;
}
